<div class="container">
  <div class="bg-light text-center">
    <h1>Список докторов</h1>
  </div>
  <hr>
  <br><br>
  <div class="row">
    <%= render @doctors %>
  </div>
  <%= link_to "Назад", root_path, class: "btn btn-primary"%>
</div>