<p id="notice"><%= notice %></p>

<h1>Список докторов</h1>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <%= render @doctors %>

  </tbody>
</table>

<br>
