<h1 class="text-center">Список докторов</h1>
<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ф.И.О</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <%= render @doctors %>

      </tbody>
    </table>
  </div>
  <%= link_to "Назад", root_path, class: "btn btn-primary"%>
</div>>

