<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @doctor.email %>
</p>

<h1>Категория доктора</h1>
<%= @doctor.category.name if @doctor.category.present? %>

<%= link_to "Назад", doctors_path %>