<tr>
  <td><%= category.name %></td>
  <td><%= link_to 'Показать', category %></td>
  <td><%= link_to 'Редактировать', edit_category_path(category) %></td>
  <td><%= link_to 'Удалить', category, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
