<table>
  <tr>
    <td>
      <%= link_to "#{category.name}", category_path(category), class: "btn btn-light" %>
      <% if can? :update, category %><%= link_to 'Редактировать', edit_admin_category_path(category), class: "btn btn-primary" %> | <%end%>
      <% if can? :destroy, category %><%= link_to 'Удалить', category, method: :delete, data: { confirm: 'Вы уверены?' } %> | <%end%>
    </td>
  </tr>
</table>

